html,
body,
#__next {
  font-family: Arial;
  background-color: #fff8ed;
}

main {
  margin: 4rem;
}

nav {
  background-color: #a6ffb5;
}

h4 {
  font-weight: bolder;
  font-size: 2rem;
}
.form-input {
  font-weight: normal;
  padding: 5px 10px;
  outline: none;
  background: #ffffff;
  border: 1px solid #454639;
  border-radius: 0.8rem;
}

.form-input:focus {
  background: #ffffff;
  border: 1px solid #2683c6;
  border-radius: 0.8rem;
}

.form-input::placeholder {
  color: #cac8b0;
}

p {
  color: rgb(209, 109, 109);
  font-size: small;
  font-weight: lighter;
}

.form-div {
  display: flex;
  background-color: #ffffff;
  gap: 0.4rem;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.25rem 0.1rem #666666;
  padding: 1rem;
  width: 20rem;
  text-align: center;
}

.btn-custom {
  background-image: linear-gradient(to bottom, #aafff5, #1f97dd);
  border-radius: 1rem;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border: none;
}

.btn-custom:hover {
  background-image: linear-gradient(to bottom, #1f97dd, #aafff5);
}

.home-top-div {
  background-color: #ffffff;
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem 0.25rem #666666;
  display: flex;
}

.home-bottom-div {
  height: fit-content;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem 0.25rem #666666;
}

.home-p {
  color: #000000;
  font-size: 1.9rem;
  margin-top: 0.9rem;
}

button {
  margin: 4%;
}

table {
  width: 100%;
}

tr {
  height: 3rem;
  border-radius: 1rem;
  box-shadow: 1px 2px 1px #666666;
}

.container {
  position: relative;
  z-index: 1;
}

.home-form {
  position: absolute;
  top: 10rem;
  left: 40%;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem 0.25rem #666666;
  z-index: 2;
  display: flex;
  background-color: #ffffff;
  gap: 0.4rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 20rem;
  text-align: center;
}

.home-form-header {
  margin-top: 8%;
  color: #ffc374;
}

.home-form-input {
  width: 75%;
  font-weight: normal;
  padding: 5px 10px;
  margin: 5%;
  outline: none;
  background: #ffffff;
  border: 1px solid #454639;
  border-radius: 0.4rem;
}

.home-form-input:focus {
  background: #ffffff;
  border: 1px solid #2683c6;
  border-radius: 0.4rem;
}

.home-form-input::placeholder {
  color: #cac8b0;
}

.home-form-close-button{
  border-radius:100%;
  position: absolute;
  right: 0;
  top: 0;

}

.form-select {
  width: 75%;
  border: 1px solid #454639;
  border-radius: 0.4rem;
}

.date-input {
  margin: 4%;
  width: 20%;
  height: 50%;
  font-size: 0.8rem;
}
.search-button {
  height: 50%;
}
.add-button {
  border-radius: 100%;
  height: 50%;
  border: none;
}